
/* General layout */
* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: 100px repeat(2, max-content) ;
    justify-content: center;
    background-color: #a1a0a0;
    gap: 30px;
    min-height: 100vh;
}

/* Results board layout */
.results-board {
    background-color:#ffffff;
    display: grid;
    grid-auto-flow: column;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
}

.results-board .player {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.player span {
    font-size: 20px;
}

.player:last-child {
    justify-content: end;
}

.player:last-child span {
    order: 1;
    justify-self: end;
}

.player:last-child h2 {
    order: 2;
} 

/* Game board layout */
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    gap: 10px;
}

.game-board .cell {
    background-color: #ffffff;
    border-radius: 10px;
}

/* btns layout */
.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    gap: 20px;
}

.btns button {
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    width: max-content;
    height: max-content;

}

.btns button:hover {
    border: 5px #515ecf solid;
}

.btns .new-game-btn {
    justify-self: end;
}